<div class="container">
  <form id="find_user">
    Github User: <input type="text" name="username" class="username">
    <input type="submit" value="submit">
  </form>

  <div id="input-user">
  </div>

  <div id="template">
    <div id="user">
      <img src="{{avatar_url}}">
      <p>Here is {{name}}.</p>
      <ul>
        <li>Location: {{location}}</li>
        <li><a href="{{repos_url}}">Public Repos</a></li>
        <li>User since: {{created_at}}</li>
      </ul>
    </div>
  </div>
</div>
