<div id="search">
  <input type="text" placeholder="Enter City, State. (e.g. Oakland, CA)">
  <button>Go!</button>
</div>
<input class="search-again" id="search-input" type="text" placeholder="Enter a place to search (e.g. Oakland)">
<button class="search-again" id="search-button">Go!</button>
<div id="map-canvas">
</div>