<div class = "container">
	<h1> Want 5 songs? Enter the username </h1>
		<form method="post" action="/songs">
			username: <input type="text" name="artist" >
		</form>

	<h1> How about 10 random songs for your favorite genre? </h1>
		<form method="post" action="/genre">
			Genre: <input type="text" name="genre" >
		</form>
		<br>

		<img height="275" width="500" src="http://cdn.doandroidsdance.com/assets/2013/02/soundcloud-logo.jpg">
</div>