<div class="container">
  <h2>What are the macronutrients of</h2>
  <form action ="/foods" method="get">
    <input type="text" name="food" placeholder="milk, apple, banana...">
    <button type="submit">Search</button>
  </form>

  <% if @food %>
  <div id="search-results">
    <div class="food">
      <h2><%= @food["food_name"] %></h2>
      <p><%= @food["food_description"] %></p>
    </div>
  </div>
  <% end %>
</div>
