<div class="container">
  <h1>Welcome to Etsy Feed!</h1>

  <h2>Displaying 25 most recent items posted to Etsy</h2>
  <ol>
  <% @titles.each do |title| %>
  <li><%= title %></li>
  <% end %>
  </ol>
</div>
