<div class="container">
  <h1>Welcome to Etsy Feed!</h1>

  <h2>Displaying 25 most recent items posted to Etsy</h2>
  <ol>
  <% @listings.each do |listing| %>
  <li><%= listing[:title] %> (<a href="<%= listing[:url] %>">link</a>) <span>views: <%= listing[:views] %></span></li>
  <% end %>
  </ol>
</div>
