<div class="images">
<img class="italy" src="http://www.bostonrestaurantgroup.com/wp-content/uploads/2012/02/pizza-200x200.jpg"/>
<img class="india" src="http://blog.thelalit.com/wp-content/uploads/2013/09/Vegetarian-Thali-200x200.jpg"/>
<img class="japan" src="http://assets.bestof.voiceplaces.com.s3.amazonaws.com/winners/images/53535/thumb/HiroSushiLIST-thumb-200x200.jpg"/>
<img class="italy" src="http://www.bostonrestaurantgroup.com/wp-content/uploads/2012/02/pizza-200x200.jpg"/>
<img class="india" src="http://blog.thelalit.com/wp-content/uploads/2013/09/Vegetarian-Thali-200x200.jpg"/>
<img class="japan" src="http://assets.bestof.voiceplaces.com.s3.amazonaws.com/winners/images/53535/thumb/HiroSushiLIST-thumb-200x200.jpg"/>
<img class="italy" src="http://www.bostonrestaurantgroup.com/wp-content/uploads/2012/02/pizza-200x200.jpg"/>
</div>


<div id="map-canvas"/>
