<div class="container">
  <h1>GitHub Stalker!</h1>

  <h2>Who are you stalking?</h2>
  <form id="stalker" name="github_user_search" action="/users" method="get">
    GitHub Username: <input class ="username" type="text" name="username">
    <input type="submit" value="stalk">
  </form>
</div>
