<div class="current-doge-price">
  <h1>Current DOGE Price <%= @secret_fail_msg %></h1>
  <h2><%= @last_trade_price %> BTC</h2>
  <h3>As of <%= @last_trade_time %> EST</h3>
</div>

<!-- <div>
  <br>
  <br>
  <%= @market_data %>
</div> -->