body {
  background-color: rgb(242, 237, 224);
  background-image: url('/img/dogecoin-logo.png');
}

.current-doge-price {
  margin: 20px auto;
  border: 1px solid silver;
  width: 600px;
  border-radius: 15px;
  padding: auto;
  text-align: center;
  background-color: rgba(186, 159, 51, 0.9);
  color: rgb(242, 237, 224);
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}
